@media print {

    .header,
    .certificate__actions,
    .certificate__title {
        display: none !important;
    }

    @page {
        size: A4;
        margin: 0;
    }

    html,
    body {
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        background-color: #fff;
        box-sizing: border-box;
        width: 100%;
        overflow-x: 0;
    }

    .certificate__container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .certificate__pdf-wrap {
        overflow: hidden;
        background: #fff;
        padding: 0 !important;
        max-width: 100% !important;
        width: 210mm;
        max-height: 297mm !important;
        margin: 0 I !important;
    }

    .certificate__pdf {
        width: 210mm !important;
        height: 297mm !important;
        margin: 0 auto !important;
        padding: 8mm !important;
        background: #ffffff !important;
        overflow: hidden !important;
        box-shadow: none !important;
        transform: none !important;
    }
}