@media print {

    .header,
    .certificate__actions,
    .certificate__title {
        display: none;
    }

    .certificate__container {
        padding: 0;
        margin: 0;
    }

    .certificate__pdf {
        box-shadow: none;
        margin: 0 auto;
        width: 210mm;
        min-height: 297mm;
        padding: 0;
        padding-top: 10mm;
        background: #fff;
        box-shadow: none;
        transform: none !important;

    }

    @page {
        size: A4;
        margin: 0;
    }
}



 