/* ---------------------------
   Modern CSS Reset
----------------------------*/

@font-face {
    font-family: 'Nikosh';
    src: url('../fonts/times.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
    min-height: 100vh;
    line-height: 1.2;
    background: rgb(243 243 243 / 1);
    font-family: "Times New Roman", Times, serif;
    color: #333;
    overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
}

a {
    display: inline-block;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0 !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0 !important;
        scroll-behavior: auto !important;
    }
}

/* Basic Style */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
}

/* Basic Style */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
    width: 100%;
}

.text-center {
    text-align: center !important;
}

/* Header */
.header__logo {
    max-width: 200px;
}

/* Certificate */
.certificate__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

/* .certificate__pdf {
    width: 210mm;
    height: 296mm;
    padding: 8mm;
    background: white;
    box-shadow: none;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.certificate__pdf-wrap {
    width: 794px;
    height: 1123px;
    transform-origin: top left;
}

.certificate__pdf {
    width: 794px;
    height: 1120px;
    padding: 30px;
    background: white;
    box-shadow: none;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform-origin: top left;
}

.certificate__pdf::after {
    content: "";
    position: absolute;
    width: 270px;
    height: 270px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/govt-logo.jpeg') no-repeat center/cover;
    background-size: contain !important;
    z-index: 1;
}

.certificate__pdf-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.certificate__pdf-subtitle {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin: 10px 0 20px 0;
}

.certificate__pdf-desc {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    max-width: 750px;
    margin: 0 auto;
}

.certificate__pdf-content {
    border: 1px solid #333;
    padding: 24px;
}

.certificate__issuing {
    margin: 3rem 0 2rem 0;
}

.certificate__issuing-title {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    font-weight: 600;
    margin: 1.7rem 0;
    position: relative;
    z-index: 2;
}

.certificate__issuing-item-wrap {
    display: flex;
    justify-content: space-between;
}

.certificate__issuing-item {
    max-width: 600px;
    line-height: 1.6;
    margin-left: 14px;
}

.certificate__issuing-list {
    padding-left: 0;
    margin-left: 0;
    line-height: 1.5;
    position: relative;
    z-index: 2;
}

.certificate__issuing-value {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.seal-img {
    margin-top: 1rem;
}

.signature-img {
    margin-left: -14px;
    max-width: 150px;

}

.certificate__signature {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.signature__text {
    text-transform: uppercase;
    margin-left: 6rem;
    line-height: 1.3;
    font-size: 10px;
    font-weight: 500;
}

.certificate__notes {
    margin-top: 2rem;
    list-style: none;
}

.certificate__notes li {
    font-size: 8px;
}

.certificate__notes li:not(:last-child) {
    margin-bottom: 8px;
}


.certificate__notes span,
.certificate__notes a {
    display: inline-block;
}

.certificate__note-star {
    color: red;
}

.certificate__signature-right {
    display: flex;
    align-items: end;
}

.certificate__actions {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: start;
}

.certificate__download-btn,
.certificate__print-btn {
    background: rgb(0, 123, 255);
    border: none;
    padding: 8px 16px;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
}

/* Responsive */
@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
        padding: 60px;
    }
}

/* Tablet */
@media (max-width: 992px) {
    .container {
        max-width: 960px;
        padding: 40px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .container {
        max-width: 720px;
        padding: 40px 20px;
    }

    .certificate__title {
        margin-top: 2rem;
    }
}