/* ---------------------------
   Modern CSS Reset
----------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
    min-height: 100vh;
    line-height: 1.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif;
    background-color: #fff;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
}

a {
    display: inline-block;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0 !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0 !important;
        scroll-behavior: auto !important;
    }
}

/* Basic Style */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
}

/* Header */
.header__logo {
    max-width: 200px;
}

/* Certificate */
.certificate__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.certificate__pdf {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
    position: relative;
    width: 210mm;
    height: 297mm;
}

.certificate__pdf::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/govt-logo.jpeg') no-repeat center/cover;
    z-index: -1;
}

.certificate__pdf-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.certificate__pdf-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0 15px 0;
}

.certificate__pdf-desc {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    max-width: 750px;
    margin: 0 auto;
}

.certificate__pdf-content {
    border: 1px solid #000;
    padding: 24px;
}

.certificate__issuing {
    margin: 3rem 0 2rem 0;
}

.certificate__issuing-title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-top: 1rem;
}

.certificate__issuing-item-wrap {
    display: flex;
    justify-content: space-between;
}

.certificate__issuing-list {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
    line-height: 1.5;
}

.certificate__issuing-value {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;

}

.certificate__issuing-item-img {
    margin-top: 1rem;
}

.certificate__signature {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.signature__text {
    text-transform: uppercase;
    margin-left: 7rem;
    line-height: 1.3;
    font-size: 12px;
}

.certificate__notes {
    margin-top: 2rem;
    list-style: none;
}

.certificate__notes li {
    margin-bottom: 10px;
    font-size: 12px;
}

.certificate__notes span,
.certificate__notes a {
    display: inline-block;
}

.certificate__note-star {
    color: red;
}